* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.cards {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}