* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: aliceblue;
}

#gameContainer {
  margin: 20px 30px;
}

li {
  list-style: none;
}

.flashcard {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

