* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/* top banner section */

/* 
  <div id="top-banner">
      <h1 id="game-title">Flash cards!</h1>
  </div>
  <div id="game-container">
    <div id="cards"></div>
  </div>
  <div id="edit-cards"><a href='edit-cards'></a></div>
  <div id="create-card"></div>
</body>
</html> */


body {
  background-color:#E1F5F0;
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

#top-banner {
  background-color:#F3FFF4;
  width: 100%;
}

#game-title {
  margin: 0 30px 30px 30px;
  /* background-color: black; */
  /* color: white; */
  /* font-family: 'Nunito Sans', sans-serif; */
  font-family: 'Raleway', sans-serif;
  color:#1F166A;
  padding: 14px 0;
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
}

#gameContainer {
  width: 85%;
  margin: 20px 30px;
}

/* Form View */


#form {
  width: 85%;
}

#form input {
  display: block;
  width: 90%;
  height: 30px;
  margin: 10px auto;
  border: gray solid 1px;
  border-radius: 2px;
}

#submit-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  background-color:#ED6168;
  font-size: .75rem;
  line-height: .9rem;
  border-radius: 2px;
  border: none;
  margin: 10px auto;
  text-align: center;
}

li {
  list-style: none;
}

/* Form View */

.card-Dom {
  /* display: flex; */
  background-color: white;
  /* width: 300px; */
  width: 85%;
}

/* Animista card flip code start */

/* .flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
} */

/* Animista card flip code end */

.card-Dom h3 {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color:#1F166A;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 18px;
  line-height: 1.75rem;
}

.card-Dom p {
  /* display: hidden; */
  background-color: white;
  font-family: 'Raleway', sans-serif;
  /* color:#1F166A; */
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.card-Dom p:hover {
  color:#1F166A;
}

/* 
.card-Dom p:hover {
  display: block;
} */

.card-Dom button {
  color: white;
  background-color: #ED6168;
  font-size: 1rem;
  padding: 0 15px;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 80px;
  border: none;
  font-weight: 700;
  vertical-align: bottom;
  /* align-self: flex-end; */
}

.card-Dom a {
  color: white;
  background-color: #ED6168;
  font-size: 1rem;
  padding: 8.5px 15px;
  border-radius: 2px;
  margin: 15px;
  border: none;
  font-weight: 700;
  bottom: 20px;
  vertical-align: bottom;
}

.card-Dom a:hover {
  color: white;
  background-color: #1F166A;
  text-decoration: none;
  font-size: 1rem;
  padding: 8.5px 15px;
  border-radius: 2px;
  margin: 15px;
  border: none;
  font-weight: 700;
  bottom: 20px;
  vertical-align: bottom;
}

#cards-container {
  margin: 0 auto;
  text-align: center;
}

#cards-container button {
  background-color:#1F166A;
  /* background-color: #ED6168; */
  font-size: 1.25rem;
  font-weight: 700;
  border: none;
  text-align: center;
  margin: 5px auto;
}

.flash-card {
  margin-top: 20px;
  /* width: 85%; */
  height: 350px;
  padding: 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid
}

#edit-card {
  height: 100px;
  width: 85%;
}

#create-card {
  height: 100px;
  width: 85%;
}

#edit-card h2 {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  color:#1F166A;
  padding: 14px 0;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
}

#create-card h2 {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  color:#1F166A;
  padding: 14px 0;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
}


/* Card flip test begin */


/* label {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.cardView {
  font-size: 50px;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

  .card div {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #FFF;
      text-align: center;
      line-height: 200px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 2px;
  }

  .card .back {
      background: #222;
      color: #FFF;
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg);
  }

label:hover .card {
  -webkit-transform: rotateX(20deg);
  transform: rotateX(20deg);
  box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
  display: none;
}

:checked + .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255,255,255,.2);
} */


/* Card flip text end  */


/* // Animation from Animista.com 
  
/* ----------------------------------------------
 * Generated by Animista on 2018-9-1 15:8:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------

There are a list of div objects (with the class "anim-object"). The one with the active class is the one displayed. The site uses onclick events to change the classes and stylings of the divs to trigger the events. Open developer tools or view source. It's clearly meant to be agnostic as to the triggering event for the various animations.

 */
 /* @-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
 */

