* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

/* top banner section */

#gameTitle {
  /* background-color: black; */
  /* color: white; */
  color:#1F166A;
  padding: 10px 0;
  width: 100%;
  font-size: 3rem;
  font-weight: 300;
  margin: 0 
}


body {
  background-color:#E1F5F0;
  font-family: 'Raleway', sans-serif;
}

#gameContainer {
  width: 85%;
  margin: 20px 30px;
}

/* Form View */


#form {
  width: 85%;
}

#form input {
  display: block;
  width: 85%;
  height: 30px;
  margin: 10px 0;
  border: gray solid 1px;
  border-radius: 2px;
}

#submit-button {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: white;
  background-color:#ED6168;
  font-size: .9rem;
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
}

li {
  list-style: none;
}

/* Form View */

.card-Dom {
  background-color: white;
  /* width: 300px; */
  width: 85%;
}

/* Animista card flip code start */

.flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card-Dom h3 {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color:#1F166A;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 1.75rem;
}

.card-Dom p {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  color:#1F166A;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.card-Dom button {
  color: white;
  background-color: #ED6168;
  font-size: 1rem;
  padding: 5px;
  border-radius: 2px;
  margin-right: 10px;
  border: none;
}

.flash-card {
  margin-top: 20px;
  /* width: 85%; */
  height: 300px;
  padding: 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid
}

.card-Dom button {
  color: white;
  background-color: #ED6168;
  font-size: 1rem;
  padding: 5px;
  border-radius: 2px;
  margin-right: 10px;
  border: none;
}

.flash-card {
  margin-top: 20px;
  /* width: 85%; */
  height: 300px;
  padding: 20px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  border-right: 1px darkgray solid;
  border-bottom: 1px darkgray solid
}

/* // Animation from Animista.com 
  

.flip-vertical-left {
	-webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-9-1 15:8:29
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------

There are a list of div objects (with the class "anim-object"). The one with the active class is the one displayed. The site uses onclick events to change the classes and stylings of the divs to trigger the events. Open developer tools or view source. It's clearly meant to be agnostic as to the triggering event for the various animations.

 */
 /* @-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
} */
